/*htmlとbodyのdefaultのmarginとpaddingを取り除くこと*/
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
  }

.signInContainer {
    background-color: #efefee;
    /*ビューポートの高さに対する割合を100%*/
    height: 100vh;
    display: flex;
    /*flexboxコンテナのクロス軸に合わせて、中央に配置します */
    align-items: center;
    /*flexboxコンテナのメイン軸の中心から配置します */
    justify-content: center;
}

.column {
    background-color: #fff;
    /*要素の最小高さ*/
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    /*box-shadow: 色 水平方向 垂直方向 影のぼかし 影の広さ*/
    box-shadow: rgba(0,0,0, 0.1) 0 1px 2px;
    padding: 20px 35px;
}

.column form{
    /*flex boxにします*/
	display:flex;
	/*垂直に表示*/
	flex-direction:column;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"]{
	font-size:14px;
	margin:10px 0;
    /*ボーダーを消し*/
	border:none;
	/*下のボーダーだけ設定*/
	border-bottom:1px solid #dedede;
}

.column form input[type="submit"]{
    /*背景色*/
    background-color:#4285f4;
    /*文字色*/
    color:#fff;
    height:36px;
    width:88px;
    border:none;
    /*ボタンの端を滑らかにする*/
    border-radius:3px;
    /*文字の太さ*/
    font-weight:500;
    margin-top:10px;
    margin-bottom:20px;
    font-size:16px;
}

.column .header {
    padding:20px 0px;
}

.column h3{
    font-size: 24px;
    font-weight: 400;
    /*文字の行間を調節する*/
    line-height: 32px;
    /*h3のmarginデフォルト値を0にする*/
    margin:0;
    padding-top:16px;
    color: #000;
}

.column .header span{
    font-size: 14px;
}

.column .header img{
	width:100px;
}